@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

:root {
  --color-background: #16181C;
  --color-text: #f4f4f4;
  --text-stroke: rgba(22, 24, 28, 0.15);
  --color-roxo: #8338EC;
  --color-rosa: #FF006E;
  --color-laranja: #FB5607;
  --color-error: #DF443C;
  --color-success: #85F689;
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
  -webkit-text-stroke: 1px var(--text-stroke);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

h2 {
  font-size: 56px;
  font-weight: bold;
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 768px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 425px) {
  h4{
    font-size: 28px;
  }
}

h5 {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  h5 {
    font-size: 20px;
  }
}

p {
  font-size: 16px;
  margin: 8px 0px;
  -webkit-text-stroke: 0px;
}

@media (max-width: 768px) {
  p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
 p{
  font-size: 12px;
 }       
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}